<!DOCTYPE html>
<html lang="en">

<head>
    <title>Help</title>
       <link rel="icon" href="./Img/logo3.png">
    <link rel="stylesheet" href="./css/style.css">
    {{!--
    <script src="./js/script.js"></script> --}}
</head>

<body>

    {{>header}}

    <div class="main-div">
        <h1>Help page title : {{title}}</h1>
        <h2>{{name}}</h2>
    </div>

    {{>footer}}

</body>

</html>